{{folder}}

<div class="repo-file-content" ng-hide="folder">
  <header>
    <h2>{{content.name}}</h2>
    <span class="size-label">size:</span>
    <span class="size-value">{{content.size}}</span>
    <a href="{{content.html_url}}">View on Github</a>
  </header>
  <code>
    <pre>
      {{content.content}}
    </pre>
  </code>
</div>

<table class="repo-contents" ng-show="folder">
  <tr ng-hide="isRoot">
    <td>&nbsp;</td>
    <td><a href="javascript:history.back()">..</a></td>
  </tr>
  <tr ng-repeat="content in contents">
    <td>{{content.type}}</td>
    <td><a href="/#/myrepos/{{repo.name}}/{{content.name}}">{{content.name}}</a></td>
  </tr>
</table>